#mainPane {
    -fx-background-color: rgb(244, 243, 247);
    -fx-border-color: rgb(184, 183, 187);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(141, 114, 151);
    -fx-text-fill: black;
}