#mainWindow {
    -fx-background-color: rgb(244, 243, 247);
}

#addItemBtn, #importItemsBtn, #exportItemsBtn {
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(141, 114, 151);
    -fx-text-fill: black;
}

#datePane {
    -fx-border-width: 2;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: rgb(41, 44, 61);
}

#directoryPane .jfx-button {
    -jfx-button-type: FLAT;
    -fx-text-fill: rgb(141, 114, 151);
    -fx-background-color: rgb(235, 233, 237);
    -fx-border-radius: 4;
    -fx-border-width: 0.4;
    -fx-border-style: solid;
    -fx-border-color: rgb(205, 203, 207);
}

#dashboardPane, #inventoryPane, #exitPane {
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-border-style: hidden;
}

.separator:horizontal > .line{
    -fx-border-style: solid;
    -fx-border-color: grey;
    -fx-border-width: 0.3;
    -fx-border-insets: 1;
}

#itemTable .tree-table-row-cell {
    -fx-background-color: rgb(235, 233, 237);
    -fx-border-color: transparent;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    -fx-padding: 0.0em;
    -fx-text-fill: black;
}
#itemTable .tree-table-row-cell:selected {
    -fx-background-color: rgb(182, 180, 215);
    -fx-background-insets: 0, 1, 2;
}

#itemTable .column-header {
    -fx-border-width: 0.4;
    -fx-border-style: solid hidden solid hidden;
    -fx-border-color: rgb(195, 193, 197);
}

#itemTable .column-header .label {
    -fx-text-fill: black;
    -fx-padding: 16 0 16 0;
}

#itemTable .column-header .arrow, #itemTable .column-header .sort-order-dot {
    -fx-background-color: rgb(182, 180, 215);
}

#itemTable .column-header,
#itemTable .column-header-background,
#itemTable .column-header-background .filler {
    -fx-background-color: rgb(132, 120, 165);
}

#inventoryVBox {
    -fx-background-color: rgb(235, 233, 237);
    -fx-border-color: rgb(132, 120, 165) rgb(195, 193, 197) rgb(195, 193, 197) rgb(195, 193, 197);
    -fx-border-width: 4 0.4 0.4 0.4;
    -fx-border-style: solid;
}

#inventoryMenuPane {
    -fx-border-color: darkgrey;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: hidden hidden solid hidden;
}

.context-menu {
    -fx-background-color: green;
    -fx-background-radius: 0 8 8 8;
    -fx-border-radius: 0 8 8 8;
    -fx-effect: none;
    -fx-min-width: 100;
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: red;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#leftPane .jfx-button, #leftPane .label {
    -fx-text-fill: rgb(45, 35, 76);
}

#leftPane {
    -fx-background-color: rgb(121, 124, 141);
    -fx-border-color: rgb(41, 44, 61);
    -fx-border-width: 0 0.4 0 0;
    -fx-border-style: hidden solid hidden hidden;
}

#topPane {
    -fx-background-color: rgb(230, 226, 244);
    -fx-border-color: rgb(25, 15, 56);
    -fx-border-width: 0 0 0.4 0;
    -fx-border-style: hidden hidden solid hidden;
}
